@font-face { font-display: swap; font-family: IvarHeadline; font-style: normal; font-weight: 500; src: url("overworldaudio.com/IvarHeadline-Regular-8f17c1807b.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: PPFrama; font-style: normal; font-weight: 400; src: url("overworldaudio.com/PPFrama-Regular-8f1bfd0073.woff2") format("woff2"); }

@font-face { font-display: swap; font-family: PPFrama; font-style: normal; font-weight: 600; src: url("overworldaudio.com/PPFrama-Semibold-b991c531ec.woff2") format("woff2"); }
